parameters:
    level: 0
    paths:
        - ../src
        - ../tests
    bootstrapFiles:
        - constants.php
    scanDirectories:
        - ../vendor/nails/module-admin
        - ../vendor/nails/module-api
