name: build_and_test
on:
    push:
        branches: [ main, develop, feature/pre-new-admin ]
    pull_request:
        branches: [ main, develop, feature/pre-new-admin ]

jobs:
    test:
        name: PHP ${{ matrix.php-version }} Test
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php-version: [ '8.2', '8.3', '8.4' ]
            fail-fast: false  # Continue with other versions even if one fails

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Setup PHP ${{ matrix.php-version }}
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}

            -   name: Cache Composer dependencies
                uses: actions/cache@v4
                with:
                    path: vendor
                    key: ${{ runner.os }}-php-${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}
                    restore-keys: |
                        ${{ runner.os }}-php-${{ matrix.php-version }}-composer-

            -   name: Cache Yarn dependencies
                uses: actions/cache@v4
                with:
                    path: node_modules
                    key: ${{ runner.os }}-yarn-${{ hashFiles('**/package.json') }}
                    restore-keys: |
                        ${{ runner.os }}-yarn-

            -   name: Install Composer dependencies
                run: COMPOSER_ROOT_VERSION=dev-develop composer install --no-interaction --prefer-dist

            -   name: Install Yarn dependencies
                run: yarn install

            -   name: Run tests
                run: composer test

            -   name: Build assets
                run: yarn build
